.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Additional custom styles */
#container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
select, input {
    margin: 5px;
}
.result-container {
    margin-top: 20px;
}
.clear-button {
    margin-top: 10px;
}
.search-button {
    margin-top: 10px;
}
/* Styling for search results */
.search-result {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/* Styling for highlighted text */
.highlight {
    background-color: yellow;
}

/* Styling for different sections */
.verse {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f0f8ff;
}

.english-lines {
    background-color: #d1ecf1;
    padding: 10px;
    border-radius: 5px;
}

.sanskrit-lines {
    background-color: #e2f3f5;
    padding: 10px;
    border-radius: 5px;
}

.english-description {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.hindi-description {
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
}

/* Style for the search results container */
#filterBox {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    border: 1px solid #e0e0e0; /* Border color */
    padding: 20px; /* Add padding to create space between content and border */
    border-radius: 8px; /* Rounded corners */
    margin-top: 20px; /* Add margin to separate from other content */
}

/* Responsive design using media queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    #filterBox {
        padding: 10px; /* Reduce padding for smaller screens */
        margin: 10px 0; /* Reduce margin for smaller screens */
    }
    #container {
        padding: 10px; /* Reduce padding for smaller screens */
        margin: 10px 0; /* Reduce margin for smaller screens */
    }
}
